<% provide(:title,"Inicio de sesió") %>
  <div class="row login">
    <div class="col-md-6 col-md-offset-3" >
      <h1>Iniciar sesión</h1>
      <%= form_for(:session, url: login_path) do |f| %>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <%= f.submit "Iniciar sesion", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Registrar", signup_path %>

    </div>
  </div>
