
<div class="row index">
  <div class="col-md-6 col-md-offset-2">
    <% if @post == [] %>
        <h2>No hay ningún blog en el momento</h2>
      <% else %>
        <% @post.each do |f| %>
          <div class="row">
            <div class="col-md-6 col-md-offset-1" >

              <div class="panel panel-default principal">
                <div class="panel-heading principal" >

                  <h3><%= link_to f.tittle, post_path(f) %></h3>
                  <% user = User.find(f.user_id)%>

                  <h4>Publicado por <%= user.name %> hace <%= timer(time_ago_in_words(f.created_at)) %></h4>

                </div>
                <div class="panel-body wrap">
                  <p><%= markdown(f.content) %>...</p>

                  <% if logged_in?  %>
                    <% if current_user.id == f.user_id %>
                    <%= link_to "Eliminar", f , method: :delete, data: { confirm:"Estas seguro?"}
                    %>   <%= link_to "Editar",edit_post_path(f)%>

                    <% end %>
                  <% end %>
                  <p></p>
                </div><s></s>
              </div>
            </div>
          </div>
        <% end %>
   <% end %>
  </div>
</div>
